<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>606763393920-6vhoe3eej5l32a1l6rh6r7a8s2ehlan3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.606763393920-6vhoe3eej5l32a1l6rh6r7a8s2ehlan3</string>
	<key>API_KEY</key>
	<string>AIzaSyCSLKNgB8nP7QL_TawN_LV5mtT5rgUIupQ</string>
	<key>GCM_SENDER_ID</key>
	<string>606763393920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rlebranchu.centreAllianceSportSante</string>
	<key>PROJECT_ID</key>
	<string>centre-alliance-sport-sante</string>
	<key>STORAGE_BUCKET</key>
	<string>centre-alliance-sport-sante.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606763393920:ios:25d166cc181210c68b1765</string>
</dict>
</plist>